/* style.css */
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
   }
   
   header {
     background-color: #f00;
     color: #fff;
     padding: 20px;
   }
   
   nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
   nav ul li {
     display: inline;
     margin-right: 10px;
   }
   
   nav ul li a {
     color: #fff;
     text-decoration: none;
   }
   
   section {
     padding: 20px;
   }
   
   .produto {
     display: inline-block;
     width: 200px;
     margin: 10px;
     text-align: center;
   }
   
   .produto img {
     width: 100%;
   }
   
   footer {
     background-color: #ccc;
     color: #000;
     padding: 10px;
     text-align: center;
   }

   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  header {
    text-align: center;
    background-color: #f13d3d;
    padding: 20px;
  }
  
  .store-title {
    font-size: 36px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .slogan {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
  }
  